<%  ## Partial, that renders the pdf-export settings subwindow.
    #
    # Expected Locale Params:
    #
    # books             the current book object to print
    # exportSettings    the export settings object of the current user
    #
    ##
%>

<!-- Modal -->
<div class="modal fade" id="pdfExport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Als PDF Exportieren: <%= book.title %></h4>
      </div>

      <!-- MODAL BODY -->

      <%= form_for exportSettings, :validate => true do |f| %>
          <div class="modal-body">

            <!-- +++++  Chnuks Selection: +++++ -->
            <label class="checkbox">
              <%= f.check_box :allChunks, :onclick => "document.getElementById('#{:chunks_select}').disabled = this.checked;"%> Alle auswählen
            </label>

            <% chunkSelectHtmlAttributes = { :class => 'form-control',    #html options
                 :multiple => true,
                 :id => :chunks_select
               }

               if @exportSettings.allChunks?
                 chunkSelectHtmlAttributes.merge!(:disabled => '')
               end
            %>

            <%= f.select :chunks,
                         options_for_select(                                          #All _shown_ option tags:
                                 book.chunks.map {|c| [c.section + " - " + c.title,   #->text
                                                  c.id]},                             #->value
                                 @exportSettings.chunks.collect {|c| c.id}            #All _selected_ options
                         ),
                         {:include_blank => false},                            #form-helper options
                         chunkSelectHtmlAttributes
            #end f.select
            %>


            <!--<select id="chunk-select" multiple class="form-control" >-->
              <!--<%# book.chunks.each do |chunk| %>-->
                  <!--<option><%#= chunk.section %> - <%#= chunk.title %></option>-->
              <!--<%# end %>-->
            <!--</select>-->


            <!-- +++++ Table of Content & Margin: +++++ -->
            <label class="checkbox">
              <!--<input type="checkbox" value=""> Inhaltsverzeichnis einfügen-->
              <%= f.check_box :tableOfContent%>  Inhaltsverzeichnis einfügen
            </label>

            <h4>Seitenränder</h4>

            <div class="row-fluid">
              <div class="span4">
                  <div class="input-prepend input-append">
                    <span class="add-on  span5">Oben:</span>
                    <%= f.text_field :marginTop, :id => "appendedPrependedInput", :class => "input-mini", :validate => true %>
                    <!--<input class="input-mini" id="appendedPrependedInput" type="text">-->
                    <span class="add-on">cm</span>
                  </div>
              </div>

              <div class="span4">
                  <div class="input-prepend input-append">
                    <span class="add-on span5">Unten:</span>
                    <%= f.text_field :marginBottom, :id => "appendedPrependedInput", :class => "input-mini", :validate => true %>
                    <!--<input class="input-mini" id="appendedPrependedInput" type="text">-->
                    <span class="add-on">cm</span>
                  </div>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span4">
                  <div class="input-prepend input-append">
                    <span class="add-on span5">Rechts:</span>
                    <%= f.text_field :marginRight, :id => "appendedPrependedInput", :class => "input-mini", :validate => true %>
                    <!--<input class="input-mini" id="appendedPrependedInput" type="text">-->
                    <span class="add-on">cm</span>
                  </div>
               </div>
              <div class="span4">
                  <div class="input-prepend input-append">
                    <span class="add-on span5">Links:</span>
                    <%= f.text_field :marginLeft, :id => "appendedPrependedInput", :class => "input-mini", :validate => true %>
                    <!--<input class="input-mini" id="appendedPrependedInput" type="text">-->
                    <span class="add-on">cm</span>
                  </div>
              </div>
            </div>


            <!-- +++++ Header, Footer: +++++ -->
            <div class="row-fluid">

              <div class="input-prepend">
                <div class="add-on">
                  <label class="checkbox">
                    <%= f.check_box :insertHead %> Kopfzeile
                    <!--<input type="checkbox" value=""> Kopfzeile-->
                  </label>
                </div>
                <%= f.text_field :head, :id => "appendedPrependedInput", :class => "input-large", :validate => true %>
                <!--<input class="input-large" id="appendedPrependedInput" type="text">-->
              </div>
            </div>
            <div class="row-fluid">

              <div class="input-prepend">
                <div class="add-on">
                  <label class="checkbox">
                    <%= f.check_box :insertFoot %> Fußzeile
                    <!--<input type="checkbox" value=""> Fußzeile-->
                  </label>
                </div>
                <%= f.text_field :foot, :id => "appendedPrependedInput", :class => "input-large", :validate => true %>
                <!--<input class="input-large" id="appendedPrependedInput" type="text">-->
              </div>
            </div>
          </div>

          <%= hidden_field_tag :book_id, book.id.to_s %>

          <!-- END BODY -->

          <div class="modal-footer">
            <%= f.submit I18n.t('views.book.export.pdf'), :class => 'btn', :onclick => "document.getElementById('#{:chunks_select}').disabled = false;"%>
            <%= #does not work: f.submit 'asdf', :class => 'btn', :'data-dismiss' => 'modal'
                #TODO Why ^ ?

                f.submit I18n.t('views.close_save'), :class => 'btn', :onclick => "document.getElementById('#{:chunks_select}').disabled = false;"
            %>
          </div>
      <% end %>

    </div>
    <!-- /.modal-content -->

  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->
