<%  ## Partial, that renders the pdf-export settings subwindow.
    #
    # Expected Locale Params:
    #
    # books             the current book object to print
    # exportSettings    the export settings object of the current user
    #
    ##
%>

<!-- Modal -->
<div class="modal fade" id="pdfExport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Als PDF Exportieren: <%= book.title %></h4>
      </div>

      <!-- MODAL BODY -->


      <%= form_for(exportSettings) do |f| %>
          <div class="modal-body">

            <!-- +++++  Chnuks Selection: +++++ -->
            <label class="checkbox">
              <input type="checkbox" value=""> Alle auswählen
            </label>

            <select id="chunk-select" multiple class="form-control" >
              <% book.chunks.each do |chunk| %>
                  <option><%= chunk.section %> - <%= chunk.title %></option>
              <% end %>
            </select>


            <!-- +++++ Table of Content & Margin: +++++ -->
            <label class="checkbox">
              <!--<input type="checkbox" value=""> Inhaltsverzeichnis einfügen-->
              <%= f.check_box :tableOfContent%>  Inhaltsverzeichnis einfügen
            </label>

            <h4>Seitenränder</h4>

            <div class="row-fluid">
              <div class="span4">
                  <div class="input-prepend input-append">
                    <span class="add-on  span5">Oben:</span>
                    <%= f.text_field :marginTop, :id => "appendedPrependedInput", :class => "input-mini" %>
                    <!--<input class="input-mini" id="appendedPrependedInput" type="text">-->
                    <span class="add-on">cm</span>
                  </div>
              </div>

              <div class="span4">
                  <div class="input-prepend input-append">
                    <span class="add-on span5">Unten:</span>
                    <%= f.text_field :marginBottom, :id => "appendedPrependedInput", :class => "input-mini" %>
                    <!--<input class="input-mini" id="appendedPrependedInput" type="text">-->
                    <span class="add-on">cm</span>
                  </div>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span4">
                  <div class="input-prepend input-append">
                    <span class="add-on span5">Rechts:</span>
                    <%= f.text_field :marginRight, :id => "appendedPrependedInput", :class => "input-mini" %>
                    <!--<input class="input-mini" id="appendedPrependedInput" type="text">-->
                    <span class="add-on">cm</span>
                  </div>
               </div>
              <div class="span4">
                  <div class="input-prepend input-append">
                    <span class="add-on span5">Links:</span>
                    <%= f.text_field :marginLeft, :id => "appendedPrependedInput", :class => "input-mini" %>
                    <!--<input class="input-mini" id="appendedPrependedInput" type="text">-->
                    <span class="add-on">cm</span>
                  </div>
              </div>
            </div>


            <!-- +++++ Header, Footer: +++++ -->
            <div class="row-fluid">

              <div class="input-prepend">
                <div class="add-on">
                  <label class="checkbox">
                    <%= f.check_box :insertHead %> Kopfzeile
                    <!--<input type="checkbox" value=""> Kopfzeile-->
                  </label>
                </div>
                <%= f.text_field :head, :id => "appendedPrependedInput", :class => "input-large" %>
                <!--<input class="input-large" id="appendedPrependedInput" type="text">-->
              </div>
            </div>
            <div class="row-fluid">

              <div class="input-prepend">
                <div class="add-on">
                  <label class="checkbox">
                    <%= f.check_box :insertFoot %> Fußzeile
                    <!--<input type="checkbox" value=""> Fußzeile-->
                  </label>
                </div>
                <%= f.text_field :foot, :id => "appendedPrependedInput", :class => "input-large" %>
                <!--<input class="input-large" id="appendedPrependedInput" type="text">-->
              </div>
            </div>
          </div>

          <%= hidden_field_tag :book_id, book.id.to_s %>

          <!-- END BODY -->

          <div class="modal-footer">
            <%= f.submit 'PDF exportieren', :class => 'btn'%>
      <% end %>

      <!--<%= button_to I18n.t('views.book.export.pdf'), print_book_path(book, :format => 'pdf'), :'class' => 'btn', method: :get %>-->
      <%= button_to I18n.t('views.close'), "", :'class' => 'btn', :'data-dismiss' => 'modal', method: :get %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->
