
<% #Initial stuff... maybe we should move it to the controller
   if @exportSettings.allChunks?
     chunkSource = @book
   else
     chunkSource = @exportSettings
   end
%>

<!-- Zusammenfassung -->
<% #TODO Wählen lassen, wo/ob Zusammenfassung angezeigt wird...%>
<div class="chapter">
  <h1><%= Book.human_attribute_name(:abstract) %></h1>

  <p><%= raw @book.abstract %></p>
</div>

<!-- Text (Chunks) -->
<% chunkSource.chunks.each do |chunk| %>
    <div class="chapter">
      <h1><%= chunk.section %> <%= chunk.title %></h1>
      <%= raw chunk.content %>
    </div>
<% end %>